@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
    background-color: #2288F3;
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    color: #EEAA22;
    -webkit-text-stroke: 5px white;
}


.box {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow : 2px 2px Silver ;
}

.flex {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 5px;
}

h2{
    margin-top: 80px;
    text-align: center;
    color: white;
    font-weight: 800;
}